.profile-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.profile-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    margin-left: 50px;
    position: relative; /* Evita que afecte otros elementos */
}

.profile-image {
    position: relative;
    top: 80px; /* Baja solo la imagen sin afectar otros elementos */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}


.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 1.5em;
    font-weight: bold;
    color: yellow;
    margin-top: 10px;
    text-align: center;
}

.white-line {
    width: 1px;
    background-color: white;
    height: 60vh;
    position: relative;
    left: 350px; /* Ajusta para mantener su independencia */
    top: -100px;
}

.form-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); /* Centra completamente */
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 20px;
}


.perfil-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 20px; /* Aumenta el espacio entre filas y columnas */
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px; /* Agrega espacio interno */
}

.form-row {
    display: contents; /* Mantiene los hijos en la misma fila sin afectar la estructura */
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
    margin-top: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #545454;
    border-radius: 4px;
    background-color: #fffcfc;
    color: rgb(0, 0, 0);
    font-size: 0.9em;
}

.error-message {
    color: #e53e3e;
    font-size: 0.8em;
    margin-top: 5px;
}

button.btn.btn-primary {
    background-color: #48bb78;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px; /* Ajusta el ancho del botón */
    margin-left: 60%;  /* Centra el botón horizontalmente */
    margin-right: auto; /* Centra el botón horizontalmente */
    display: block; /* Asegura que el botón se comporte como un bloque para centrarlo */
}

button.btn.btn-primary:disabled {
    background-color: #ff0000;
    cursor: not-allowed;
}

.hidden {
    visibility: hidden; /* Oculta sin eliminar espacio */
}
.btn-close-session {
    background-color: #e53e3e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    display: block;
    text-align: center;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
  
    margin-left: calc(50% + 20px);
    transform: translateX(-58%);
  }
  
.btn-close-session:hover {
    background-color: #c53030;
}
  
  

