<header [ngClass]="{ 'hidden': isHidden, 'scrolled': isScrolled }">
  <div class="header-container">
    <a routerLink="/home">
      <img src="assets/img/logo-sf.png" alt="GestAceite Logo" class="logo" />
    </a>
    <a routerLink="/home">
      <img src="/assets/img/logo-aceituna-sf.png" alt="Aceituna" class="olive-icon" />
    </a>
    <nav>
      <ul>
        <li><a routerLink="/mensajes">Buzón</a></li>
        <li><a routerLink="/fincas">Fincas</a></li>
        <li><a routerLink="/estadisticas">Estadísticas</a></li>
        <li><a [routerLink]="'/perfil'" class="fa-solid fa-user user-icon"></a></li>
      </ul>
    </nav>
  </div>
</header>

