<main>
    <section class="main-content">
        <div class="olive-price">
            <p>OLIVE OIL PRICE</p>
        </div>
        <div class="main-card">
            <div class="card-content">
                <div class="shape triangle"></div>
                <div class="shape square"></div>
                <div class="shape circle">1st</div>
            </div>
            <div class="card-side-bar"></div>
        </div>
        <div class="main-card">
            <div class="card-content">
                <div class="shape triangle"></div>
                <div class="shape square"></div>
                <div class="shape circle">1st</div>
            </div>
            <div class="card-side-bar"></div>
        </div>
    </section>
</main>