<div class="chat-container">
    <!-- Lista de contactos -->
    <div class="chat-sidebar">
      <h3>Mensajes</h3>
      <mat-list>
        <mat-list-item class="mat-list-item" *ngFor="let mensaje of mensajes" (click)="seleccionarMensaje(mensaje)">
          <mat-icon matListAvatar>person</mat-icon>
          <!-- Añadimos la clase 'mensaje-issue' al elemento donde mostramos el 'issue' -->
          <div matLine class="mensaje-issue">{{ mensaje.issue }}</div>
          <div matLine class="mensaje-preview">{{ mensaje.message }}</div>
          <span class="hora">{{mensaje.hora}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  
    <!-- Ventana de chat -->
    <div class="chat-window">
      <div class="chat-header" *ngIf="mensajeSeleccionado">
        <mat-icon>factory</mat-icon>
        <span>{{ mensajeSeleccionado.issue }}</span>
      </div>
  
      <div class="chat-messages" *ngIf="mensajeSeleccionado">
        <div class="mensaje-cooperativa">
          {{ mensajeSeleccionado.message }}
        </div>
      </div>
  
      <!-- Input deshabilitado pero visible -->
      <div class="chat-input" *ngIf="mensajeSeleccionado">
        <mat-form-field appearance="outline" class="input-mensaje">
          <mat-icon matPrefix>emoji_emotions</mat-icon>
          <input matInput placeholder="Escribe un mensaje..." [disabled]="true">
          <button mat-icon-button matSuffix disabled>
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  