<div class="chat-container">
    <!-- Lista de contactos -->
    <div class="chat-sidebar">
      <h3>Mensajes</h3>
      <mat-list>
        <mat-list-item *ngFor="let mensaje of mensajes">
          <mat-icon matListAvatar>person</mat-icon>
          <div matLine>{{ mensaje.nombre }}</div>
          <div matLine class="mensaje-preview">Supporting line text lorem...</div>
          <span class="hora">10 min</span>
        </mat-list-item>
      </mat-list>
    </div>
  
    <!-- Ventana de chat -->
    <div class="chat-window">
      <div class="chat-header">
        <mat-icon>person</mat-icon>
        <span>Name</span>
      </div>
  
      <div class="chat-messages">
        <div class="mensaje-cooperativa">
          Mensaje de cooperativa!
        </div>
      </div>
  
      <div class="chat-input">
        <mat-form-field appearance="outline" class="input-mensaje" disabled>
          <mat-icon matPrefix>emoji_emotions</mat-icon>
          <input matInput placeholder="Escribe un mensaje...">
          <button mat-icon-button matSuffix>
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  