<div class="chat-container">
    <div class="chat-sidebar">
      <h3>Mensajes</h3>
      <button *ngIf="user?.president" (click)="abrirModalMensaje()" class="crear-mensaje-btn">
        Crear mensaje
      </button>
      <mat-list>
        <mat-list-item class="mat-list-item" *ngFor="let mensaje of mensajes" (click)="seleccionarMensaje(mensaje)">
          <mat-icon matListAvatar>person</mat-icon>
          <div matLine class="mensaje-issue">{{ mensaje.issue }}</div>
          <div matLine class="mensaje-preview">{{ mensaje.message }}</div>
          <span class="hora">{{mensaje.hora}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  
    <div class="chat-window">
      <div class="chat-header" *ngIf="mensajeSeleccionado">
        <mat-icon>factory</mat-icon>
        <span>{{ mensajeSeleccionado.issue }}</span>
      </div>
  
      <div class="chat-messages" *ngIf="mensajeSeleccionado">
        <div class="mensaje-cooperativa">
          {{ mensajeSeleccionado.message }}
        </div>
      </div>
  
      <div class="chat-input" *ngIf="mensajeSeleccionado">
        <mat-form-field appearance="outline" class="input-mensaje">
          <mat-icon matPrefix>emoji_emotions</mat-icon>
          <input matInput placeholder="Escribe un mensaje..." [disabled]="true">
          <button mat-icon-button matSuffix disabled>
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

<div *ngIf="mostrarModalMensaje" class="modal-overlay">
  <div class="modal">
    <h2>Nuevo mensaje como presidente</h2>

    <label>Título:</label>
    <input type="text" [(ngModel)]="nuevoMensaje.issue" />

    <label>Mensaje:</label>
    <textarea [(ngModel)]="nuevoMensaje.message"></textarea>

    <div class="modal-buttons">
      <button class="cancel-btn" (click)="cerrarModalMensaje()">Cancelar</button>
      <button class="save-btn" [disabled]="!nuevoMensaje.issue || !nuevoMensaje.message" (click)="guardarMensaje()">
        Guardar
      </button>
    </div>
  </div>
</div>

  